<h1>Labot dokumentu</h1>

<%= render 'form', document: @document %>

<%= link_to 'Skatīt', @document, class: 'btn btn-outline-secondary' %>
<%= link_to 'Atpakaļ', documents_path, class: 'btn btn-outline-secondary' %>
