<div class="row">
    <div class="col-sm-12">
        <br> 
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><%= link_to 'SÄkums', root_path %></li>
                <li class="breadcrumb-item active text-truncate"><%= link_to @document.title, @document %></li>
            </ol>
        </nav>

        <h1>Labot dokumentu</h1>

        <%= render 'form', document: @document %>
    </div>
</div>