<div class="row">
  <div class="col-sm-12">
    <p id="notice"><%= notice %></p>

    <%= link_to 'Jauns dokuments', new_document_path, class: 'btn btn-outline-primary' %>

    <hr>

    <% @documents.each do |document| %>
      <h2><%= link_to document.title, document %></h2>

      <p>
        <%= document.content.truncate(30, seperator: /\s/) %>
      </p>

      <hr>
    <% end %>
  </div>
</div>
