<div class="row">
    <div class="col-sm-12">
        <h1>Jauns dokuments</h1>

        <%= render 'form', document: @document %>

        <%= link_to 'Atpakaļ', documents_path, class: 'btn btn-outline-secondary' %>
    </div>
</div>
